<h1>Listing podhosts</h1>

<table>
  <thead>
    <tr>
      <th>Host name</th>
      <th>Wwn a</th>
      <th>Wwn b</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @podhosts.each do |podhost| %>
      <tr>
        <td><%= podhost.host_name %></td>
        <td><%= podhost.wwn_a %></td>
        <td><%= podhost.wwn_b %></td>
        <td><%= link_to 'Show', podhost %></td>
        <td><%= link_to 'Edit', edit_podhost_path(podhost) %></td>
        <td><%= link_to 'Destroy', podhost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Podhost', new_podhost_path %>
